@font-face {
  font-family: 'Goodland Bold';
  src: url('./fonts/Goodland Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'National Park';
  src: url('./fonts/NationalPark-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
